@model Response<List<EmployeeRoleInfo>>

@{
    ViewData["Title"] = "EmployeeRole";
}

<div class="pk-table-container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>EmployeeRole</h2>
            </div>
            <div class="col-sm-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary-outline" onclick="onCreateEmployeeRole()">
                    <span>Create &nbsp;</span><i class="material-icons">&#xE147;</i>
                </button>
            </div>
        </div>
    </div>
    <div id="employeeRoleListContainer">
        @if (Model != null && Model.IsSuccess && Model.Data != null && Model.Data.Any())
        {
            <partial name="_EmployeeRoleList.cshtml" />
        }
        else
        {
            <p>
                NO RECORDS FOUND
            </p>
        }
    </div>
</div>

<div id="createEmployeeRoleFormContainer">
    <partial name="_CreateEmployeeRole.cshtml" model="new EmployeeRoleInfo()" />
</div>

<script src="~/js/lookups/employee-role/employee-role.js" asp-append-version="true"></script>