@model Response<List<EmployeeRoleInfo>>

<div class="form-group">
    <label class="form-label">
        Employee Role
        <span class="mandatory">*</span>
    </label>
    <select id="selectEmpRoleList" name="selectEmpRoleList" class="form-control form-control-sm">
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            <option disabled selected value=""> -- select an option -- </option>
            @foreach (var empRole in Model.Data)
            {
                <option value="@empRole.Id">@empRole.Name</option>
            }
        }
    </select>
</div>