@model Response<List<TitleInfo>>

<div class="form-group">
    <label class="form-label">
        Title
        <span class="mandatory">*</span>
    </label>
    <select id="selectTitle" name="selectTitle" class="form-control form-control-sm">
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            <option disabled selected value=""> -- select an option -- </option>
            @foreach (var title in Model.Data)
            {
                <option value="@title.Id">@title.Name</option>
            }
        }
    </select>
</div>