@model Response<List<LocationInfo>>

<div class="form-group">
    <label class="form-label">
        Location
        <span class="required">*</span>
    </label>
    <select id="selectLocation" name="location" class="form-control form-control-sm">
        @if (Model != null && Model.Data != null && Model.Data.Any())
        {
            @foreach (var location in Model.Data)
            {
                <option value="@location.Id">@location.Name</option>
            }
        }
    </select>
</div>